@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'base/variables';

* {
    font-family: 'Roboto', 'Roboto Condensed', sans-serif; 
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/work';
@import 'blocks/_agent';
@import 'blocks/_red_line';
@import 'blocks/subtitle';
@import 'blocks/_consultation';