@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'base/variables';
@import 'libs/slick';

* {
    font-family: 'Roboto', 'Roboto Condensed', sans-serif; 
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/red_line';
@import 'blocks/subtitle';
@import 'blocks/_consultation';
@import 'blocks/forms';
@import 'blocks/_managers';
@import 'blocks/_plan';
@import 'blocks/carousel';
@import 'blocks/questions';
@import 'blocks/map';
@import 'blocks/footer';