.button {
    width: 160px;
    height: 45px;
    border-radius: 30px;
    background-color: $main-color;
    border: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    &_active {
        &:hover {
            transform: scale(1.1);
            transition: 0.5s;
            background-color: #fff;
            color: $main-color;
            font-weight: 700;
          }
    }
    &_main {
        width: 230px;
        height: 57px;
        font-size: 15px;
        font-weight: 700;
        display: block;
        margin: 0 auto;
        margin-top: 39px;
    }
    &_consultation {
        width: 180px;
        position: absolute;
        
        display: block;
        margin: 0 auto;
        bottom: 0;
        transform: translateY(50%);
        padding: 0.5em 1em;
        background: $main-color;
        color: #fff;
        box-shadow: 0 0 0 14px white;
    }
    

}