.carousel {
    height: 470px;
    padding: 51px 0 65px 0;
    &__subtitle {
        color: #2e2e2e;
        font-size: 21px;
        font-weight: 300;
        text-align: center;
        margin-top: 43px;
    }
    &__inner {
        display: block;
        margin: 0 auto;
        width: 601px;
    }
    
        
}