.footer {
    height: 201px;
    background-color: #25333c;
    padding: 24px 0 28px 0;
    &__up {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-left {
            display: flex;
            justify-content: flex-start;
            align-items: center;        }
    }
    &__down {
        display: flex;
    }
    &__logo {
        width: 68px;
        height: 71px;
    }
    &__descr {
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        margin-left: 43px;
    }
    &__quest {
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        text-align: right;
       
    }
    &__phone {
        color: white;
        text-decoration: none;
        
    }
    &__info {
        display: flex;
        justify-content: flex-end;
        width: 340px;
       
        &-left {
            margin-right: 19px;
        }
    }
    
    &__down {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__brand {
        opacity: 0.6;
        color: #ffffff;
        font-size: 13px;
        font-weight: 300;
    }
    &__conf {
        color: $main-color;
        font-size: 13px;
        font-weight: 300;
        text-decoration: underline;
    }
    &__comp {
        width: 138px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__comp-title {
        opacity: 0.6;
        color: #ffffff;
        font-size: 13px;
        font-weight: 300;
        margin-right: 10px;
    }
hr {
    width: 1146px;
    height: 1px;
    opacity: 0.3;
    border: none;
    background-color: white;
    margin: 26px 0 19px 0;
}
}