.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 96px;
        img {
            width: 100%;
        }
    }

    &__nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
                
        a {
            color: #ffffff;
            font-size: 15px;
            font-weight: 400;
            text-decoration: none;
            margin-right: 15px;
            &:hover {
                color: $main-color;
            }
        }
    }
    &__nav-link {
        border-right: 2px dotted white;
        padding-left: 15px;
        &:last-child {
            border-right: none;
        }
    }
    &__title {
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        margin-left: 65px;
        
    }
    &__phone {
        color: #ffffff;
        font-size: 19px;
        font-weight: 700;
        line-height: 24px;
        text-decoration: none;
        &:hover {
            color:$main-color;
        }
    }
}