.work {
    min-height: 619px;
    padding: 51px 0 57px 0;
        
    &__main {
        margin-top: 37px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 359px;
    }
    
    &__title {
        margin-top: 28px;
        color: $main-color;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__descr {
        width: 359px;
        color: #3a3a3a;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        text-align: justify;
        
        
    }
}